.library-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.library-list-image {
	flex: 1 1 152px; /*  Stretching: */
	margin: 5px;
    max-width: 50%;
}
.category-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.category-list>.subject-list-image {
	flex: 1 1 200px; /*  Stretching: */
	margin: 5px;
}
.category-list-item {
    padding-bottom: 12px
}

.list-style-none {
    list-style-type: none;

}

.pointer {
    cursor: pointer;
}

.subject-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    overflow-x: scroll;
}

.subject-list-image {
    padding: 0 1em 0 0;
	cursor: pointer;
}

.subject-list-image a {
    text-decoration: none;
}

.subject-heading-link {
    padding-left: 5px;
}

.book-cover {
    object-fit: cover;
    max-width: 148px;
    height: auto;
}

.block {
    display: block;
}

.detail-book-cover {
    max-width: 83%;
    max-height: 600px;
}

.hide {
    display: none; /* Hidden by default */
}

.show {
    display: initial;
}

/* The Modal (background) */
.modal {
    /* display: none; Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 1em 1em 100px;
    border: 1px solid #888;
    min-height: 604px;
}

.modal-content a {
    display: inline-block;
    /* display: flex; iOS doesn't like this. Stretches the image */
}

.dark .modal-content {
	color: white;
	background-color: rgb(32, 37, 48);
}

button.follow {
    font-size: large;
}

/* The Close Button */
.close {
    background-color: #FFF;
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    border: 1px solid black;
    padding: 0 7px;
    cursor: pointer;
    position: absolute;
    right: 18px;
}

.dark .close {
    background-color: #202530;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* The Share Button */
.share {
    color: #aaaaaa;
    background-color: #FFF;
    font-size: 22px;
    line-height: 34px;
    border: 1px solid black;
    padding: 0 6px;
    cursor: pointer;
    position: absolute;
    right: 18px;
    top: 60px;
}
.dark .share {
    background-color: #202530;
}

.share:hover,
.share:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
}